.lists {
  list-style-type: none;
  width: 100%;
  padding: 0;
}
.list {
  margin: 20px 0;
  border-bottom: 1px solid #fff;
  padding: 20px 0;
}

.list time {
  display: block;
  font-size: 0.8em;
  color: #999;
}

.title {
  padding: 1em 0;
}
.tag {
  display: block;
  text-align: end;
  font-size: 0.8em;
  color: #bc8b2f;
}

.titleContainer {
  display: flex;
  align-items: center;
}

.titleImg {
  width: 100px;
  margin: 1em 1em 0 0;
}

.viewAll {
  text-align: end;
  color: #999;
  margin-top: 2em;
}
