.container {
  width: 100%;
  margin: 20px;
  padding: 1.2em;
}

.container h2 {
  font-family: YuMincho, "Yu Mincho", serif;
  font-weight: lighter;
  margin: 0;
}

.bar {
  background-color: #bc8b2f;
  width: 60px;
  height: 3px;
  display: block;
  margin: 0 auto 20px;
}

.heading {
  text-align: center;
  margin-bottom: 10px;
}
