.item {
  padding: 1em;
  display: flex;
  border: 1px solid #fff;
  position: relative;
  align-items: center;
  justify-content: center;
  margin-bottom: 3em;
  transition: background 0.2s ease-in;
  font-size: 0.8em;
  width: 35vw;
}
.item img {
  position: absolute;
  width: 50px;
  opacity: 0.4;
}

.item:hover {
  background-color: #bc8b2f;
}

@media screen and (min-width: 500px) {
  .item {
    width: 40vw;
    font-size: 1em;
  }
}

@media screen and (min-width: 960px) {
  .item {
    width: 230px;
    height: 13vw;
  }

  .item img {
    width: 80px;
  }
}

@media screen and (min-width: 1700px) {
}
