.item {
  padding: 10px;
  display: flex;
  align-items: center;
  font-size: 1.2em;
  border-bottom: 1px solid #fff;
  cursor: pointer;
}

.title {
  margin: 0 1em;
}

.item img {
  width: 2em;
  opacity: 0.4;
}

.item:hover {
  border-color: #bc8b2f;
  color: #bc8b2f;
  letter-spacing: 3px;
}

.infoContainer {
  margin-bottom: 50px;
}

@media screen and (min-width: 960px) {
}
