.wrapper {
  display: flex;
  flex-direction: column;
  padding: 2em;
}

.ma {
  background-color: #e4007f;
  margin-bottom: 2em;
  padding: 0 1em;
}
.cy {
  background-color: #00a0e9;
  margin-bottom: 2em;
  padding: 0 1em;
}
.ye {
  background-color: #ffdc00;
  margin-bottom: 2em;
  padding: 0 1em;
}
.gl {
  background-color: #8fc221;
  margin-bottom: 2em;
  padding: 0 1em;
}
.pu {
  background-color: #531b89;
  margin-bottom: 2em;
  padding: 0 1em;
}
.ol {
  background-color: #f39805;
  margin-bottom: 2em;
  padding: 0 1em;
}

@media screen and (min-width: 960px) {
  .img {
    margin-right: 2em;
  }
}
