.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
  width: 100%;
  padding: 2em;
  margin: 0 auto;
}

.concept {
  border: 1px solid #fff;
  padding: 1em;
}

.infoContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.top {
  display: flex;
  justify-content: center;
  position: relative;
  height: 100vh;
}

.top img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -90%);
  z-index: 80;
  width: 320px;
}
.video {
  margin-bottom: 50px;
  filter: brightness(30%);
}

@media screen and (min-width: 960px) {
  .top {
    width: 100%;
    margin-top: 0px;
  }

  .top img {
    top: 300px;
    transform: translate(-50%, -20%);
    width: 500px;
  }

  .video {
    height: inherit;
    width: 100%;
    margin-bottom: 50px;
  }

  .container {
    width: 60vw;
  }
  .topImage {
    margin: 0;
  }
}
