.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}

.title {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.tagContainer {
  align-self: flex-end;
  text-align: end;
}
.item {
  color: #000;
  width: 100%;
  background-color: #eee;
  padding: 1.5em;
  margin-bottom: 1em;
  border-radius: 6px;
}

.item img {
  width: 100%;
}
