.container {
  background-color: #fff;
  color: #666;
  padding: 1em;
}

.cancel {
  margin-bottom: 2em;
  font-size: 0.8em;
  color: red;
}

.heading {
  line-height: 2em;
  margin: 2em auto;
  text-align: center;
  border-bottom: 1px #eee solid;
  padding-bottom: 2em;
}

.section {
  padding-bottom: 2em;
  margin-bottom: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px #eee solid;
}

.section h3 {
  font-size: 1.5em;
  width: 100%;
  padding: 5px 0;
  text-align: center;
}

.section a {
  padding: 1em;
  margin-bottom: 2em;
  width: 300px;
}

.partyItem {
  margin-bottom: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.partyItem p {
  padding-top: 3em;
}

.policy {
  line-height: 2em;
  font-size: 0.8em;
}

.policy p {
  margin-bottom: 2em;
}

.bar {
  background-color: #0ba789;
  width: 60px;
  height: 3px;
  display: block;
  margin: 0 auto 50px;
}

.section:nth-of-type(2) .bar {
  background-color: #e4047e;
}
